@import './styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    background-color: var(--m3-surface);
    color: var(--m3-on-surface);
  }

  @keyframes progress {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
