@import './styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    background-color: var(--m3-surface);
    color: var(--m3-on-surface);
  }
}

